$bg-colour: #202225;
$font-colour: rgba(255, 255, 255, 0.9);
$font: 'Poppins';

#check-center {
  border-left: 1px solid red;
  height: 500vh;
  position: absolute;
  left: 50vw;
  z-index: 99;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: $bg-colour;
  color: $font-colour;
  font-family: $font, sans-serif;
  font-style: normal;
  position: relative;
  top: 4vh;
  bottom: 5vh;
}

h1 {
  font-weight: bold;
  font-size: 90px;
}

.index-container {
  //check border
  //border: 1px solid red;

  margin: 25px 20px;

  .subheading {
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.3);

    margin: 0;
  }

  .context {
    font-weight: normal;
    font-size: 50px;
  }
}

.card {
  border-radius: 10px 10px 10px 10px !important;

  img {
    height: 300px;
  }

  .card img {
    height: 300px;
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 10px 10px !important;
    background-color: #202225;

    .card-footer-left-text {
      font-weight: 200;
      font-size: 28px;
      line-height: 42px;

      position: relative;
      left: 10px;
    }

    .card-footer-right-text {
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;

      position: absolute;
      right: 20px;
    }
  }
}

//https://stackoverflow.com/questions/49237597/force-equal-width-columns-in-css-flexbox
.footer {
  position: fixed;
  width: 100%;
  height: 90px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-flow: row;
  align-items: center;

  a {
    color: $font-colour;
    text-decoration: none;
  }

  a:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
  }

  .footer-left {
    font-size: 14px;
    font-weight: 300;

    margin: 0 0 0 30px;

    display: flex;
    flex-flow: row;
    width: 100%;
  }

  .footer-center {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;

    .footer-menu-text {
      font-size: 20px;
      font-weight: bold;
      margin: 0 30px;
    }
  }

  .footer-right {
    margin: 0 30px 0 0;

    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    width: 100%;
  }
}


.iconify {
  width: 30px;
  height: 30px;
  margin: 0 20px
}

//scrollbar
///* width */
//::-webkit-scrollbar {
//  width: 12px;
//}
//
///* Track */
//::-webkit-scrollbar-track {
//  background: $bg-colour;
//}
//
///* Handle */
//::-webkit-scrollbar-thumb {
//  background: rgba(255, 255, 255, 0.2);
//  border-radius: 10px;
//}
//
///* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: rgba(255, 255, 255, 0.3);
//}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}